/* Universal */

* {
    /* border: 1px solid red; */
}

body, html {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    background-color: beige;
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Hero Section */

.hero__image {
    background-image: url("./photos/remy.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: ivory;
    flex-shrink: 0;    
    text-shadow: 1px 1px 2px black;
}

.hero__text h1 {
    font-size: 3rem;
    margin: 0;
}

.hero__text h2 {
    font-size: 1rem;
}

/* Recipe Cards */

.recipe__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recipe__card {
    flex-shrink: 0;
    width: 400px;
    height: 40vh;
    margin: 1rem;
    text-align: center;
    background-color: lightblue;
    color: ivory;
    text-shadow: 1px 1px 2px black;
}

.recipe__card h3 {
    padding: 5px;
}

/* Footer */

.footer {
    background-color: orange;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    flex-shrink: 0;
}
